'comment': 'Selene Syntax: Version 0.1.0'
'fileTypes': [
  'sel'
  'selene'
]
'firstLineMatch': '[(\\-\\-)].*?\\b[sS]elene\\b'
'name': 'Selene'
'scopeName': 'source.lua.sel'
'patterns': [
  {
    'match': '(\\<\\-)'
    'name': 'keyword.control.selene'
  }
  {
    'match': '\\(\\s*([a-zA-Z_][\\w_]*(\\s*,\\s*[a-zA-Z_][\\w_]*)*)?\\s*([\\-\\=]\\>)'
    'captures':
      '1':
        'name': 'variable.parameter.function.selene'
      '3':
        'name': 'keyword.control.lua'
    'name': 'meta.function.selene'
  }
  {
    'match': '(\\?)'
    'name': 'keyword.control.selene'
  }
  {
    'match': '(?<![^.]\\.|:)(checkArg|ltype|checkType|lpairs|isList|checkFunc|parCount|\\$f|\\$l|\\$s|\\$)(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.lua'
  }
  {
    'match': '(?<![^.]\\.|:)(bit32\\.(bfor|nfor)|string\\.(foreach|map|filter|contains|count|exists|forall|drop|dropright|dropwhile|take|takeright|takewhile|fold|foldleft|foldright|reduce|reduceleft|reduceright|split|iter)|table\\.(shallowcopy|flatten|range|flip|zipped))(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.library.lua'
  }
  {
    'include': 'source.lua'
  }
]
